spring:
  datasource:
    url: jdbc:h2:mem:inventory_db;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080

logging:
  level:
    org.springframework.web: DEBUG

springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    path: /openapi
